<!DOCTYPE html>
<html>
<%- include  head %>
    <body>
        <div class="site" >
            <pre class="nav margin-for-mobile"><font size=15 ><%= title %></font></pre>
        </div>
        <div id="releated">
            <% for(var i = 0 ; i < news_contents.length;i++) { %>
                <div float:left>
                    <a href="<%- news_contents[i].url %>">
                        <h4><%= news_contents[i].title %>&nbsp;&nbsp;&nbsp;&nbsp;来源:<%= news_contents[i].website  %>&nbsp;&nbsp;&nbsp;作者:<%= news_contents[i].author  %></h4>
                        <div><%= news_contents[i].summary %></div>
                    </a>
                </div>
            <% } %>
        </div>
    </body>
</html>
